[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = git@github.com:glfw/glfw.git
[submodule "dependencies/vcpkg"]
	path = dependencies/vcpkg
	url = git@github.com:microsoft/vcpkg.git
[submodule "dependencies/GameNetworkingSockets"]
	path = dependencies/GameNetworkingSockets
	url = git@github.com:ValveSoftware/GameNetworkingSockets.git
